In [10]:
import nltk
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.feature_extraction.text import CountVectorizer
import numpy
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import LSTM
from keras.callbacks import ModelCheckpoint
from keras.utils import np_utils
from sklearn.model_selection import train_test_split

In [11]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head(20)

,id,raw_address,POI/street
0,0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika
1,1,"aye, jati sampurna",/
2,2,setu siung 119 rt 5 1 13880 cipayung,/siung
3,3,"toko dita, kertosono",toko dita/
4,4,jl. orde baru,/jl. orde baru
5,5,"raya samb gede, 299 toko bb kids",toko bb kids/raya samb gede
6,6,"kem mel raya, no 4 bojong rawalumbu rt 1 36 ra...",/kem mel raya
7,7,tela keuramat kuta alam,/tela
8,8,gg. i wates magersari,/gg. i
9,9,bunga ncole ix 2,/bunga ncole ix
10,10,"cikahuripan sd neg boj 02 klap boj, no 5 16877",sd negeri bojong 02/klap boj
11,11,"yaya atohar,",yayasan atohariyah/
12,12,abim ix 24 5,/abim ix
13,13,gang xiii rungkut,/gang xiii
14,14,"kamp utan jaya, 23 rt 3 rw 8 16433 beji",/
15,15,"kampung.gudang areng,desa:anyer, kecamatan:any...",gudang areng/
16,16,maru baru 2 18 marunda rt 13 3 cilincing,/maru baru 2
17,17,pangkalan lareh kel.ikurkoto koto panjang.kec ...,pangkalan lareh/
18,18,tanah sereal pekap raya 5 rt 9 4 11210 tambora,/pekap raya
19,19,"tam tama barat v, banyumanik",/tam tama barat v

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 3 columns):
id             300000 non-null int64
raw_address    300000 non-null object
POI/street     300000 non-null object
dtypes: int64(1), object(2)
memory usage: 6.9+ MB

In [15]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
id             50000 non-null int64
raw_address    50000 non-null object
dtypes: int64(1), object(1)
memory usage: 781.4+ KB

In [12]:
#define tokenizer
def tokenizer(col):
    tokens = []
    for address in col:
        token = nltk.word_tokenize(address)
        tokens.append(token)
    return tokens

raw_address = list(train['raw_address'])
POI = []
street = []

for stuff in train['POI/street']:
    stuff_list = list(stuff.split('/'))
    POI.append(stuff_list[0])
    street.append(stuff_list[1])
    
#raw_address_t = tokenizer(raw_address)
#POI_t = tokenizer(POI)
#street_t = tokenizer(street)

In [13]:
train['POI'] = POI
train['street'] = street

In [9]:
train

,id,raw_address,POI/street,POI,street
0,0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika,,jl kapuk timur delta sili iii lippo cika
1,1,"aye, jati sampurna",/,,
2,2,setu siung 119 rt 5 1 13880 cipayung,/siung,,siung
3,3,"toko dita, kertosono",toko dita/,toko dita,
4,4,jl. orde baru,/jl. orde baru,,jl. orde baru
...,...,...,...,...,...
299995,299995,jend ahmad yani 331 kertasari ciamis,/jend ahmad yani,,jend ahmad yani
299996,299996,"raya cila kko, cilandak timur kel.",/raya cila kko,,raya cila kko
299997,299997,tanjung gusta jl. yaya 2 no 17,/,,
299998,299998,jalan cipadu jaya taman asri gang bijaksana 3 ...,taman asri/,taman asri,
299999,299999,jaya maspion permata blok beryl b2 no.58,jaya maspion permata/,jaya maspion permata,

In [14]:
# create the transform
vectorizer = TfidfVectorizer()
# tokenize and build vocab
fulltext = train['raw_address']
vectorizer.fit(fulltext)
# summarize
#print(vectorizer.vocabulary_)
print(vectorizer.idf_)
# encode document
vector_raw = vectorizer.transform(fulltext)
vector_POI = vectorizer.transform(POI)
vector_street = vectorizer.transform(street)
# summarize encoded vector
print(vector_raw.shape)
print(vector_POI.shape)
print(vector_street.shape)
print(vector_raw)
print(vector_POI)
print(vector_street)

[10.14580518 11.12663444  7.40698332 ... 12.91839391 12.91839391
 12.91839391]
(300000, 81117)
(300000, 81117)
(300000, 81117)
  (0, 74750)	0.16180615691387076
  (0, 68311)	0.4182858166323804
  (0, 60862)	0.27102741656170026
  (0, 45061)	0.35617193115768225
  (0, 38481)	0.27388440098044975
  (0, 36727)	0.15957651778976625
  (0, 33901)	0.20053903431301487
  (0, 24277)	0.31469154370991304
  (0, 21593)	0.24343002437787079
  (0, 21554)	0.30372954137682967
  (0, 21341)	0.4121058078385727
  (0, 442)	0.19358829533915445
  (1, 65233)	0.5141720636248635
  (1, 35948)	0.3775193544687558
  (1, 14237)	0.7701339013374514
  (2, 69012)	0.5631596034403585
  (2, 67451)	0.3463506071567673
  (2, 63901)	0.14191221672150028
  (2, 22032)	0.31527996464436986
  (2, 941)	0.5235585631277244
  (2, 588)	0.41138596912109726
  (3, 75292)	0.2920168080044063
  (3, 40563)	0.6392728631386438
  (3, 25197)	0.7113764054967232
  (4, 54410)	0.8913958240011443
  :	:
  (299997, 80162)	0.5341902850080407
  (299997, 73114)	0.3380995499128409
  (299997, 52980)	0.1745250042410985
  (299997, 36727)	0.2585943650092785
  (299997, 31701)	0.6111360037543992
  (299997, 1715)	0.35987802926402473
  (299998, 72767)	0.21142104247449434
  (299998, 63932)	0.3743369885183587
  (299998, 52980)	0.11771579257415644
  (299998, 36147)	0.18507191578235
  (299998, 35605)	0.2582434738520325
  (299998, 29529)	0.24080854602577448
  (299998, 21989)	0.38022770151197177
  (299998, 17368)	0.5001735325821871
  (299998, 13568)	0.26822175772268386
  (299998, 6208)	0.3061319248469941
  (299998, 76)	0.28632072566946165
  (299999, 58043)	0.3490834216518232
  (299999, 52980)	0.12565375806541546
  (299999, 47800)	0.4808134779069726
  (299999, 36147)	0.1975519275866796
  (299999, 17876)	0.2194900493200909
  (299999, 17038)	0.5245155661213085
  (299999, 14453)	0.3992865109485696
  (299999, 6408)	0.33078898787914174
  (3, 75292)	0.3797456583865125
  (3, 25197)	0.9250909333339044
  (5, 75292)	0.32858287935143965
  (5, 41121)	0.6498305957255729
  (5, 16301)	0.6853856492924726
  (10, 66168)	0.4654075472926119
  (10, 52115)	0.5102558164563059
  (10, 18180)	0.5191890749809817
  (10, 57)	0.5034655113470797
  (11, 80169)	1.0
  (15, 31460)	0.6259787899087068
  (15, 12837)	0.7798400826992872
  (17, 55755)	0.5487481316651912
  (17, 43912)	0.8359877319637902
  (20, 75292)	0.28149313062050263
  (20, 15459)	0.5679292482574785
  (20, 10652)	0.7734455290368961
  (21, 70273)	0.6111236410165553
  (21, 41739)	0.7915351510771135
  (27, 37281)	0.8031683030385102
  (27, 18671)	0.5957521942840326
  (31, 44590)	0.5404501897366545
  (31, 41949)	0.44075468540657686
  (31, 18479)	0.7166930303175576
  (33, 65606)	0.5998443899680092
  :	:
  (299974, 35063)	0.5198125751171876
  (299974, 20706)	0.4293288814045826
  (299976, 75292)	0.35995978383878136
  (299976, 62659)	0.9329678204626018
  (299977, 38397)	0.7798989720460016
  (299977, 24526)	0.6259054188945723
  (299979, 74890)	0.7508510710573971
  (299979, 31181)	0.6604715505545713
  (299983, 49451)	0.6709577104228213
  (299983, 43278)	0.5519613244804648
  (299983, 15322)	0.4951307373835083
  (299986, 30550)	0.8758529126876762
  (299986, 19867)	0.48257815464079407
  (299987, 75616)	0.5233269970471397
  (299987, 47356)	0.7170519837765648
  (299987, 33327)	0.4603969012968229
  (299989, 43868)	0.7286900545529728
  (299989, 15035)	0.6848436349967675
  (299992, 41307)	0.5180437195579016
  (299992, 13508)	0.8553541398897969
  (299998, 72767)	0.6190434917212422
  (299998, 13568)	0.7853567058079866
  (299999, 58043)	0.5575049748680204
  (299999, 47800)	0.7678849503889988
  (299999, 36147)	0.3155010395600824
  (0, 74750)	0.1991728796528432
  (0, 68311)	0.5148826979492429
  (0, 45061)	0.43842453546406746
  (0, 38481)	0.33713392540623316
  (0, 36727)	0.1964283385710664
  (0, 33901)	0.24685053837713075
  (0, 24277)	0.3873648701542636
  (0, 21554)	0.3738713566002424
  (2, 69012)	1.0
  (4, 54410)	0.8913958240011443
  (4, 36727)	0.30414991376767536
  (4, 15884)	0.336015349215533
  (5, 65079)	0.8037435039384022
  (5, 62169)	0.27117976536526195
  (5, 29903)	0.5295827742036754
  (6, 62169)	0.31934208325646884
  (6, 48514)	0.671161049868924
  (6, 39974)	0.6690018527629518
  (7, 73826)	1.0
  (8, 30372)	1.0
  (9, 52036)	0.7567260415404645
  (9, 35270)	0.4603603465227789
  (9, 19402)	0.4641487362946558
  (10, 41490)	0.8419921277959692
  (10, 18166)	0.5394898115160435
  :	:
  (299983, 62169)	0.3731144324477012
  (299983, 21716)	0.9277853309355726
  (299985, 77816)	0.5370590121706036
  (299985, 60580)	0.8435446742445449
  (299986, 68333)	1.0
  (299987, 42391)	0.6300983787088176
  (299987, 36727)	0.38814321382142103
  (299987, 35948)	0.5181159358545716
  (299987, 15884)	0.42880853037974836
  (299988, 62169)	0.2533540196642694
  (299988, 15829)	0.7745132574304545
  (299988, 13382)	0.5796041362727008
  (299991, 59957)	1.0
  (299993, 73409)	0.5512846212339986
  (299993, 62683)	0.48142820388839336
  (299993, 58194)	0.34759770663373774
  (299993, 52878)	0.5860784804398199
  (299994, 62169)	0.3294588900020783
  (299994, 37739)	0.9441699210410159
  (299995, 80045)	0.5909582434866023
  (299995, 36424)	0.5560876765777938
  (299995, 10447)	0.5844098308666109
  (299996, 62169)	0.23125239978613515
  (299996, 41445)	0.735544074670307
  (299996, 21690)	0.6367866532917876

In [15]:
model = Sequential()

In [17]:
X_train, X_test, y_train, y_test = train_test_split(vector_raw, vector_POI, test_size = 0.20, random_state = 69)

In [18]:
history = model.fit(X_train, y_train, batch_size = 128, epochs = 6, verbose = 1, validation_split = 0.2)

ValueError: Please provide as model inputs either a single array or a list of arrays. You passed: x=  (0, 65836)	0.45659440645595734
  (0, 62908)	0.5757834032761974
  (0, 33516)	0.4469571653125465
  (0, 21346)	0.3683525764613141
  (0, 13003)	0.3529032336135456
  (1, 62169)	0.2869974158875874
  (1, 57018)	0.7181261043855556
  (1, 20647)	0.6339774297826961
  (2, 76906)	0.35803458636547913
  (2, 68793)	0.4475343963186378
  (2, 65069)	0.36389749945935457
  (2, 64870)	0.4162730255805638
  (2, 33065)	0.4119040590398416
  (2, 10534)	0.3348433737047928
  (2, 1951)	0.289887113151896
  (3, 75292)	0.35636538507909554
  (3, 61467)	0.9343466767305527
  (4, 80615)	0.5842739831761078
  (4, 57110)	0.6357445205043555
  (4, 25910)	0.31724244874898505
  (4, 15328)	0.3921862388508295
  (5, 77316)	0.4730753934723785
  (5, 66646)	0.2557850002825782
  (5, 59479)	0.3939608356690084
  (5, 52980)	0.1602997230692474
  :	:
  (239996, 75292)	0.34799422946243325
  (239996, 52980)	0.2101068817763208
  (239996, 48539)	0.5389876543448991
  (239996, 48032)	0.5259800119250382
  (239996, 4271)	0.5172933887168852
  (239997, 64320)	0.1672417269965079
  (239997, 63901)	0.2682635372444645
  (239997, 30995)	0.5098744880564379
  (239997, 14714)	0.44246710030574515
  (239997, 2091)	0.44500847925693016
  (239997, 1401)	0.4962692860755729
  (239998, 63901)	0.1417353803112533
  (239998, 51055)	0.35196132705631267
  (239998, 42366)	0.3453468939782225
  (239998, 30372)	0.2032727600738453
  (239998, 22118)	0.6662896100669699
  (239998, 8578)	0.3810384176655022
  (239998, 442)	0.23551417331141167
  (239998, 236)	0.2255015920244395
  (239999, 80032)	0.42319143809159754
  (239999, 78489)	0.5054735243242893
  (239999, 68479)	0.5218527334199121
  (239999, 44057)	0.2860311898988186
  (239999, 41190)	0.4050929865515458
  (239999, 1401)	0.21716601531346708