In [2]:
import pandas as pd

In [12]:
sample = pd.read_csv('sampleSubmission.csv')
test = pd.read_csv('test.csv')

In [13]:
sample.info

<bound method DataFrame.info of    id                   POI/street
0   0                            /
1   1                    /angg per
2   2    asma laundry/mand imogiri
3   3  ud agung rejeki/raya ngawi-
4   4                   /cut mutia>

In [14]:
test.info

<bound method DataFrame.info of           id                                        raw_address
0          0              s. par 53 sidanegara 4 cilacap tengah
1          1              angg per, baloi indah kel. lubuk baja
2          2                              asma laun, mand imog,
3          3      ud agung rej, raya nga sri wedari karanganyar
4          4                         cut mutia, 35 baiturrahman
...      ...                                                ...
49995  49995                    toko mbak farid semboro semboro
49996  49996     vie - tk. ridho kids, vete 3 cari, 16720 ciawi
49997  49997                mart dan roti bakar malabar, nasio,
49998  49998  graha indah pamulang jl. mujair raya bambu apu...
49999  49999                                               adi,

[50000 rows x 2 columns]>

In [20]:
sample.info

<bound method DataFrame.info of    id                   POI/street
0   0                            /
1   1                    /angg per
2   2    asma laundry/mand imogiri
3   3  ud agung rejeki/raya ngawi-
4   4                   /cut mutia>

In [25]:
submit = pd.concat([pd.DataFrame([i], columns=['id']) for i in range(50000)],
          ignore_index=True)

In [27]:
submit['POI/street'] = '/'

In [28]:
submit

          id POI/street
0          0          /
1          1          /
2          2          /
3          3          /
4          4          /
...      ...        ...
49995  49995          /
49996  49996          /
49997  49997          /
49998  49998          /
49999  49999          /

[50000 rows x 2 columns]

In [29]:
submit.to_csv ('submit.csv', index = False, header=True)

In [30]:
submit

          id POI/street
0          0          /
1          1          /
2          2          /
3          3          /
4          4          /
...      ...        ...
49995  49995          /
49996  49996          /
49997  49997          /
49998  49998          /
49999  49999          /

[50000 rows x 2 columns]