In [2]:
import pandas as pd

In [62]:
df = pd.read_json('contacts.json')

In [81]:
df.head(15)

,Id,Email,Phone,Contacts,OrderId
0,0,gkzAbIy@qq.com,,1,
1,1,,329442681752,4,vDDJJcxfLtSfkooPhbYnJdxov
2,2,,9125983679,0,
3,3,mdllpYmE@gmail.com,,0,bHquEnCbbsGLqllwryxPsNOxa
4,4,,300364407,2,
5,5,,840113148,0,
6,6,hESiBgYTxMnj@hotmail.com,,4,
7,7,hqyunTiaXfIjhO@yahoo.com,,1,vxjYZtMUvNhtEBDruzQfjpsmX
8,8,XGUjcSiDpFKWEUCs@qq.com,223604620644,2,
9,9,osIIQgAiZX@hotmail.com,,0,IqewrMXVTJqSsVklWFfOpdRNI
10,10,,918973512631,3,OHRFAXqbAzyxljoUDaOErwtrg
11,11,QRamvop@qq.com,,0,
12,12,QexYMLXc@qq.com,,2,
13,13,YsKhkKGJoQSNniHcr@yahoo.com,562300766,1,IqewrMXVTJqSsVklWFfOpdRNI
14,14,,17423803380,4,

In [9]:
df.shape

(500000, 5)

In [27]:
#Blank email check
blank = 0
for i in range(500000):
    if df.loc[i, 'Email'] == "":
        blank += 1
print(blank)

151394

In [26]:
#Blank phone check
blank = 0
for i in range(500000):
    if df.loc[i, 'Phone'] == "":
        blank += 1
print(blank)

254919

In [25]:
#OrderId phone check
blank = 0
for i in range(500000):
    if df.loc[i, 'OrderId'] == "":
        blank += 1
print(blank)

256456

In [31]:
u_emails = df.Email.unique()
u_phones = df.Phone.unique()
u_ids = df.OrderId.unique()
print('Unique emails: '+ str(len(u_emails)) + ', Unique phones: ' + str(len(u_phones)) + ', Unique ids: ' + str(len(u_ids)))

Unique emails: 249157, Unique phones: 190678, Unique ids: 189303

In [76]:
df = df.loc[:15]
df_s = df['Id']
#df_s['ticket_trace/contact'] = 1
#df_s.head()

In [85]:
kabeh = []
for i in range(len(df['Id'])):
    tt = []
    ttc = []
    c = 0
    for j in range(len(df['Id'])):
        if df.loc[i, 'Id'] == df.loc[j, 'Id']:
            tt.append(str(df.loc[j, 'Id']))
            c += df.loc[i, 'Contacts']
            continue
        elif df.loc[i, 'Email'] == '' or df.loc[i, 'Phone'] == '' or df.loc[i, 'OrderId'] == '':
            continue
        elif df.loc[i, 'Email'] == df.loc[j, 'Email'] or df.loc[i, 'Phone'] == df.loc[j, 'Phone'] or df.loc[i, 'OrderId'] == df.loc[j, 'OrderId']:
            tt.append(str(df.loc[j, 'Id']))
            c += df.loc[i, 'Contacts']
#    if c == 0:
#        tt = str(i)
#        c = df.loc[i, 'Contacts']
    ttc = '-'.join(tt) + ', '+ str(c)
    kabeh.append(ttc)

In [86]:
kabeh

['0, 1',
 '1, 4',
 '2, 0',
 '3, 0',
 '4, 2',
 '5, 0',
 '6, 4',
 '7, 1',
 '8, 2',
 '9, 0',
 '10, 3',
 '11, 0',
 '12, 2',
 '9-13, 2',
 '14, 4',
 '15, 4']

In [ ]:
df_s[:, 'ticket_trace/contact'] = kabeh
df_s.head()

In [33]:
a = [1,2,3,4]
str(a)

'[1, 2, 3, 4]'

True